body {
  background: rgba(116,235,213,1);
background: -moz-linear-gradient(left, rgba(116,235,213,1) 0%, rgba(172,183,229,1) 57%, rgba(172,183,229,1) 77%, rgba(172,183,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(116,235,213,1)), color-stop(57%, rgba(172,183,229,1)), color-stop(77%, rgba(172,183,229,1)), color-stop(100%, rgba(172,183,229,1)));
background: -webkit-linear-gradient(left, rgba(116,235,213,1) 0%, rgba(172,183,229,1) 57%, rgba(172,183,229,1) 77%, rgba(172,183,229,1) 100%);
background: -o-linear-gradient(left, rgba(116,235,213,1) 0%, rgba(172,183,229,1) 57%, rgba(172,183,229,1) 77%, rgba(172,183,229,1) 100%);
background: -ms-linear-gradient(left, rgba(116,235,213,1) 0%, rgba(172,183,229,1) 57%, rgba(172,183,229,1) 77%, rgba(172,183,229,1) 100%);
background: linear-gradient(to right, rgba(116,235,213,1) 0%, rgba(172,183,229,1) 57%, rgba(172,183,229,1) 77%, rgba(172,183,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74ebd5', endColorstr='#acb7e5', GradientType=1 );
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
